body {
    background-color: blue;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 20px;

}

span {
    color: gray;
    font-style: italic;

}

h2 {
    color: yellow;
}

h1 {
    color: black;
}
